@page "/CustomerEdit/{CustomerID:int?}"

@using PizzaStoreModels
@using Microsoft.AspNetCore.Components.Forms

@inject HttpClient http


<h3>Edit Customer</h3>
<hr/>

@if(Customer is null)
{
    <p> Retriving Customer...</p>
}
else
{
    <div class="container">
        <div class="row">
            <EditForm Model="@Customer" OnSubmit="@HandleSubmit">
                <div class="form-floating my-2">
                    <InputText id="FirstName" name="FirstName"
                    @bind-Value="Customer.FirstName" class="form-control" placeholder="x" />
                    <label for="FirstName">First Name:</label>
                </div>

                <div class="form-floating my-2">
                    <InputText id="LastName" name="LastName"
                    @bind-Value="Customer.LastName" class="form-control" placeholder="x" />
                    <label for="LastName">Last Name:</label>
                </div>

                <div class="form-floating my-2">
                    <InputText id="Address" name="Address"
                    @bind-Value="Customer.Address" class="form-control" placeholder="x" />
                    <label for="Address">Address:</label>
                </div>

                <div class="form-floating my-2">
                    <InputText id="City" name="City"
                    @bind-Value="Customer.City" class="form-control" placeholder="x" />
                    <label for="City">City:</label>
                </div>

                <div class="form-floating my-2">
                    <InputText id="State" name="State"
                    @bind-Value="Customer.State" class="form-control" placeholder="x" />
                    <label for="State">State:</label>
                </div>

                <div class="form-floating my-2">
                    <InputText id="PostalCode" name="PostalCode"
                    @bind-Value="Customer.PostalCode" class="form-control" placeholder="x" />
                    <label for="PostalCode">Zip Code:</label>
                </div>

                <div class="form-group my-2">
                <button type="submit" class="btn btn-primary"> Submit </button>
                </div>

            </EditForm>
        </div>
        <div class="row">
            <div class="my-1">
                <a href="Customers"> Back to Customers List</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int? CustomerID { get; set; }

    public CustomerViewModel Customer { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Customer = await http.
        GetFromJsonAsync<CustomerViewModel>($"api/customers/{CustomerID}");

        await base.OnInitializedAsync();
    }

    protected async void HandleSubmit()
    {
        var result = await http.PutAsJsonAsync<CustomerViewModel>($"api/customers/{CustomerID}", Customer);
    }
}
