@page "/PointOfSale/{CustomerId:int?}"

@inject HttpClient http

@if(Customer is null || Products is null)
{
    <p> Retriving info...</p>
}
else
{
    <CustomerCard Customer="Customer" BackgroundColor="MidnightBlue" TextColor="White"/>

    <div class="container-fluid">
    @foreach(var product in Products)
    {
       <ProductCard Product="product" Width="" BackgroundColor="Beige"/>
        }
    </div>
}
@code {
    [Parameter]
    public int? CustomerId { get; set; }


    [Parameter]
    public CustomerViewModel? Customer { get; set; }

    public List< ProductViewModel>? Products { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Customer = await http.GetFromJsonAsync<CustomerViewModel>($"api/customers/{CustomerId}");
        Products = await http.GetFromJsonAsync<List<ProductViewModel>>($"api/products");

        await base.OnInitializedAsync();
    }

}


