@page "/ProductDetails/{ProductID:int?}"
@using PizzaStoreModels
@inject HttpClient http

@if (Product is null)
{
    <p>Retrieving the product...</p>
}
else
{
    <h3>Product Details</h3>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Product ID
            </dt>
            <dd class="col-sm-10">
                @Product.ProductID
            </dd>
            <dt class="col-sm-2">
                Product Name
            </dt>
            <dd class="col-sm-10">
                @Product.ProductName
            </dd>
            <dt class="col-sm-2">
                Product Price
            </dt>
            <dd class="col-sm-10">
                $@Product.ProductPrice
            </dd>
        </dl>
    </div>
    <div>
        <a href="Products">Back to List</a>
    </div>
}

@code {
    [Parameter]
    public int? ProductID { get; set; }

    public ProductViewModel Product { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Product = await http.GetFromJsonAsync<ProductViewModel>($"/api/products/{ProductID}");
        await base.OnInitializedAsync();
    }
}
